/* Styling for Announcements Carousel */

#announcements{
    padding-top: 38px;
}

#announcements-box{
   position: relative;
}

    
#announcements-box .item-list {
    height: 134px;
    margin-right: auto;
    margin-left: auto;
}

#announcements-box .item-list ul {
    margin: 0; padding: 0;
    list-style: none;
    display: block;
    overflow: hidden;
}

#announcements-box .item-list li {
    width: 355px;
    height: 102px !important;
    float: left;
    display: block;
    overflow: hidden;
    list-style: none;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0;
}


#announcements-box .item-list li .announcement-icon{
  background-image: url('/sites/all/themes/wonderwheel/img/authorpub-coverbg.png');
  margin-right: 2px;
  padding: 4px 5px 7px 4px;
  width: 67px;
  height: 92px;
  float: left;
}

#announcements-box .view-footer { 
    position:absolute;
    bottom:0; right: 0;
    width: 200px; height: 30px;
}	


#announcements .pub-text h4 a{
    color: #254441;
}
