h3 {
	font: bold 108%/1.5em Arial, sans-serif;
	}
	
.sec h4 {
		font: bold 108%/1.5em Arial, sans-serif;
	}
	
#quicktabs-1 .qt_tab {
	font: bold 14px/1em Arial, sans-serif;
	}
	
#edit-submit, input[type="submit"] {
		font: 108%/1em Arial, sans-serif;
	}
	
label {
		font: 123.1%/1em Arial, sans-serif;
	}
	
 #search input[type="text"] { 
	   	font: 123.1%/1em Arial, sans-serif; 
	   	 }
	   	 
#search .adv-link a {
		font: 100%/1em Arial, sans-serif; 
	}
	
	
	#alpha-search a {
		font: 100%/2em Arial, sans-serif; 
	}
	
	
	h2 {
	 font: bold 200%/1em Arial, sans-serif;
	}
	
	
	.view-db-by-alpha .view-content h4 a,
	.view-db-by-terms .view-content h4 a {
		font: bold 108%/1em Arial, sans-serif;
	}
	
	
	.db-term {
	font: 83%/1em Arial, sans-serif;
	}
	
.pub-text h4 {
	font: 85% Arial, sans-serif;
	}
	
#topstrip p {
	font: 11px/32px Arial, sans-serif;
	}
	
ul.nice-menu a {
    color: #a0ba24;
    font: 14px/1em Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 6em 0 0;
    line-height: 40px;
}